.benefits{
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item{
    flex: 1;
    margin: 0 3%;
    margin-left: 0;


    @include phones {
        padding: 0;
        margin-bottom: rem(19px);
        margin-left: 0;
    }

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }
}