.form{
    display: flex;

    @include tablets {
        width: 100%;
        flex-direction: column;
    }

    @include phones{
        width: 100%;
        padding: 0;
    }
}

.form__col{
    flex: 1;
    margin-right: rem(27px);

    &:last-child{
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row{
    display: flex;
    margin-bottom: rem(11px);
}

.form__block{
    flex: 1;
    margin-right: rem(14px);
    cursor: pointer;

    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    @include tablets {
        height: rem(36px);
    }

    &--textarea{
        height: rem(152px);
        width: 100%;
        resize: none;
        margin-bottom: rem(39px);

        @include tablets{
            height: 82px;
            width: 100%;
            resize: none;
        }
    }

    &:focus{
        border-color: #E01F3D;
        outline: none;
    }


}

.form__controls{
    display: flex;
    flex-wrap: wrap;

    @include phones{
        justify-content: center;
    }
}

.form__btns{
    display: flex;
    justify-content: center;
}

.form__input.input-error{
    border-color: hotpink;
}