.products-arrows__left{
        position: absolute;
        background: transparent;
        border: none;
        cursor: pointer;
        top: rem(225px);
        left: 0;

    .arrow__left-elem{
        width: rem(14px);
        height: rem(27px);
        fill: #000000;
        }
    }

    .products-arrows__right{
        position: absolute;
        background: transparent;
        border: none;
        cursor: pointer;
        top: rem(225px);
        right: 0;

    .arrow__right-elem{
        width: rem(14px);
        height: rem(27px);
        fill: #000000;
        }
    }